body{
    font-family: "DIN Round Pro", "Nunito", cursive;
}

#news{
    text-align: center;
    font-family: "DIN Round Pro", "Nunito", cursive ;
    font-weight: bolder;
    font-size: x-large;
    width: 100%;
    height: 2pc;
    background-color: #ff3c00;
}
#news button{
    background-color: #ff3c00;
    height: 80%;
    border-radius: 10%;
    border: 5% #000;
}
#news button a{
    font-family: "DIN Round Pro","Nunito",cursive;
    text-decoration: none;
    color: #000;
}