@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    background: fixed no-repeat linear-gradient(#00b7ff, #0033ff);
}

* {
    font-family: "Nunito", "DIN Round Pro", "Montserrat";
}

#news {
    text-align: center;
    font-weight: bolder;
    font-size: 3vh;
    width: 100%;
    height: 4fr;
    background-color: #ff3c00;
}

#news button {
    background-color: #ff3c00;
    height: 80%;
    border-radius: 10%;
    border: 5% #000;
    font-family: "DIN Round Pro", "Nunito", cursive;
    text-decoration: none;
    color: #000;
}

header {
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

#bob-list {
    background-color: #000;
    width: 40vw;
    border-radius: 15px;
    padding: 15px;
    padding-right: 30px;
}

#bob-list h2 {
    text-align: right;
    width: 100%;
    border: 1px rgb(129, 129, 129) solid;
    border-radius: 15px;
    padding: 5px;
}

.stopped {
    font-style: italic;
    background-color: #251515;
}

main {
    text-align: center;
}

.medium {
    height: 20vh;
}

.bobimg {
    background-color: #0077ff;
    border: #00b7ff 3px solid;
    margin: 5px 5px 0px 5px;
    border-radius: 15px;
}

.widthlimit {
    width: 40vw;
}

.flex {
    margin: 0vw 10vw;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;
}

ul {
    text-align: justify;
}

cross {
    text-decoration: line-through;
}