body{
    font-family: "DIN Round Pro";
}

#news{
    text-align: center;
    font-family: "DIN Round Pro","Nunito","cursive" ;
    font-weight: bolder;
    font-size: x-large;
    width: 100%;
    height: 2pc;
    background-color: #ff3c00;
}